<body onload="replaceScript();">
  <div class="row">
    <div class="small-3 columns"></div>
    <div class="small-6 small-centered columns">
      <h2>Edit Appointment</h2>
    </div>
    <div class="small-3 columns"></div>
  </div>
  <br/>
  <div class="row">
    <div class="small-3 columns"></div>
    <div class="small-6 small-centered columns"><div>
      <%= simple_form_for @appointment do |f| %>
      <%= f.input :start_time, label: 'Start Time' %>
      <br/>
      <%= f.input :end_time, label: 'End Time' %>
      <br/>
      <%= f.input :first_name, label: 'First Name' %>
      <%= f.input :last_name, label: 'Last Name' %>
      <%= f.input :comments, label: 'Comments (500 character limit)', as: :text, input_html: { maxlength: 500 } %>
      <%= f.hidden_field :user_id, value: current_user.id, readonly: true %>
      <%= f.button :submit, 'Update Appointment' %>
      <% end %>
    </div>
    <div class="small-3 columns"></div>
  </div>

  <script type="text/javascript">
  function replaceScript() {
    var toReplace1 = '—';
    var replaceWith1 ='Hour (hh:mm)';
    var toReplace2 = ' :';
    var replaceWith2 = 'Minutes (hh:mm)';
    document.body.innerHTML = document.body.innerHTML.replace(toReplace1, replaceWith1);
    document.body.innerHTML = document.body.innerHTML.replace(toReplace2, replaceWith2);
  }
  </script>
</body>
