<% if current_user %>
  Signed in as: <%= current_user.first_name %> <%= current_user.last_name %> (<%= current_user.email %>)
<% else %>
  Hello
<% end %>
<p></p>
<%= link_to 'Add Appointment', new_appointment_path %>
<p></p>

<% @appointments.each do |appointment| %>
  <% calendar_string = "#{appointment.month}/#{appointment.date}" %>
  <% clock_string = "#{appointment.hour}:#{appointment.minute} #{appointment.meridiem}" %>
  <%= calendar_string %> - <%= clock_string %> (<%= appointment.user_id %>)
  <!-- to_datetime -->
  <br/>
<% end %>
