<br/>
<div class="row">
  <div class="small-12 small-centered columns">
    <%= link_to 'Add Appointment', new_appointment_path, class: 'button small new-button' %>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <!-- Search -->
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Appointment</th>
          <th class="text-center">Start</th>
          <th class="text-center">End</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
        <% @appointments.reverse.each do |appointment| %>
          <tr>
            <td>
              <%= "#{counter} - #{appointment.first_name} #{appointment.last_name}" %>
            </td>
            <td><%= appointment.start_time.strftime("%b %d, %Y at %I:%M%P %Z ") %></td>
            <td><%= appointment.end_time.strftime("%b %d, %Y at %I:%M%P %Z ") %></td>
            <td class="text-center">
              <%= link_to "View",  "/appointments/#{appointment.id}"%> |
              <%= link_to "Edit", edit_appointment_path(appointment) %> |
              <%= link_to "Delete", appointment, data: { confirm: 'Are you sure?' }, method: :delete %>
            </td>
          </tr>
          <tr>
            <td colspan="8"><strong>Comments:</strong> <%= appointment.comments %></td>
          </tr>
          <% counter += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
