<% if current_user %>
  Signed in as: <%= current_user.first_name %> <%= current_user.last_name %> (<%= current_user.email %>)
<% else %>
  Hello
<% end %>
<p></p>
<%= link_to 'Add Appointment', new_appointment_path %>
<p></p>

<% counter = 1 %>
<% @appointments.each do |appointment| %>
  <%= link_to "Appointment #{counter}",  "/appointments/#{appointment.id}"%><br/>
  Start: <%= appointment.start_time.strftime("%b %d, %Y at %I:%M%P %Z ") %><br/>
  End: <%= appointment.end_time.strftime("%b %d, %Y at %I:%M%P %Z ") %>
  <% counter += 1 %>
  <p></p>
<% end %>
