<!DOCTYPE html>
<html>
<head>
  <title>Appointment API</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Home', root_path %> |
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>
  </p><p/>

  <% flash.each do |name, msg| %>
  <div data-alert class="alert-box">
  <%#= content_tag :div, msg, class: "#{name} alert-box" %> <!-- Foundation, no div -->
    <%= msg %>
  </div>
  <% end %>

  <%= yield %>
</body>
</html>
